.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.searchBar input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchBar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchBar button:hover {
  background-color: #2980b9;
}

.searchBar button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.showCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e0e0e0;
  flex-grow: 1; 
}

.showDetails {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.showDetails h2 {
  font-size: 25px;
  margin: 0;
  text-align: left;
  padding-bottom: 5%;
}

.showDetails p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
